@import "../../../asset/config.scss";

.section {
    text-align: center;
    padding: 64px 16px;
    font-size: 1rem;
    background-color: $secondary-color;
    justify-content: center;
    height: 100vh;

    .container {
        max-width: 600px;
        bottom: 64px;
        align-self: center;
        text-align: center;
        position: relative;

        .sectionTitle {
            font-size: 2.5rem;
            font-weight: normal;
            text-align: center;
            color: inherit;
            line-height: 1;
            align-self: center;
            color: $light-grey-color;
        }

        .sectionDescription {
            color: $light-grey-color;
            font-size: 1.5rem;
        }
    }
}
