@import "src/assets/styles/colors";

.listingLink {
    width: 100%;
}

.listingLink:first-child {
    margin-top: 16px;
}

.listingLink:not(:first-child) {
    margin-top: 1.7rem;
}

.container {
    border-radius: 3px;
    background-color: white;
    width: 100%;
    max-width: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 12px 0px;

    .imageCol {
        width: 100%;
        height: 250px;
        background-size: cover;
        background-position: center;
    }

    .imageCol::after {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        top: 0;
        background-color: rgba(0, 0, 0, 0.3);
    }

    .containerTop {
        .containerTopContent {
            margin-left: 16px;
            padding: 16px;

            .barberName {
                font-size: 1.5rem;
                margin-bottom: 0;
            }

            .rating {
                font-size: 1.2rem;
                line-height: 0;
            }
        }
    }

    .containerBottom {
        .selectBox {
            min-width: 200px;
            margin-bottom: 16px;
        }

        .serviceName {
            font-weight: bold;
            font-size: 1rem;
            display: inline;
            border-bottom: solid 3px $primary-color;
            margin-bottom: 8px;
        }
        .portfolioImage {
            margin: 4px 8px 4px 0;
        }

        .reviewContainer {
            margin: 16px 8px;
            background-color: $light-grey-color;
            border-radius: 10px;
            padding: 8px;
            box-shadow: 1px 2px #a7a7a7;

            .reviewAuthor {
                font-size: 1rem;
                color: $primary-color;
                font-weight: bold;
                align-self: center;
            }

            .reviewRate {
                text-align: right;
            }

            .createdOn {
                font-weight: bold;
            }
        }
    }

    .containerBottom.hide {
        display: none;
    }
}

.slider {
    margin: 0 50px;
}

.textCenter {
    text-align: center;
}
