@import "../../../assets/config.scss";

.resetPasswordForm {
    width: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #252525;
    padding: 30px;
    text-align: center;

    h2 {
        color: #fff;
        text-align: center;
        text-decoration: underline #21a4c9;
    }
}