$primary-color: #00b2ff;
$white-color: white;
$dark-bg-color: #252525;

footer {
    width: 100%;
    background-color: $dark-bg-color;
    color: $white-color;

    .footerLogo {
        display: block;
        font-size: 2rem;
        margin-right: 16px;
    }

    ul {
        padding: 0;
        margin: 0 16px 16px 0;

        .footerHeader {
            font-weight: bold;
            font-size: 1rem;
            border-bottom: solid 2px $primary-color;
            padding-bottom: 4px;
            margin-bottom: 8px;
            display: inline-block;
        }

        > li {
            list-style-type: none;

            a {
                color: inherit;

                &:active {
                    color: $primary-color;
                }

                &::before {
                    content: ">";
                    display: inline-block;
                    color: $primary-color;
                    padding-right: 4px;
                }
            }
        }
    }

    small {
        margin: auto;
        align-items: center;
    }
}
