.dashboard {
    background-color: #E1E1E1;
    display: flex;
}

.dashboardContent {
    padding: 50px;
    width: 100%;
}

.dashboardMobile {
    flex-direction: column;
}

.dashboardDesktop {
    flex-direction: row;
}