@import "../../asset/config.scss";

.dashboard {
    background-color: $light-grey-color;
    display: flex;
}

.dashboardContent {
    padding: 50px;
    width: 100%;
}

.dashboardDesktop {
    flex-direction: row;
}

.dashboardMobile {
    .dashboardContent {
        padding: 20px;
    }
}
