@import "../../asset/config.scss";

.reservations {
        background-color: none;

    .header {
        background-color: $primary-color;
        width: 100%;
        font-size: 30px;
        font-weight: bold;
        color: $white-color;
        display: flex;
        border-radius: 20px;
        padding: 10px;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        .arrow {
            cursor: pointer;
        }

    }

    .card {
        .title {
            font-size: 20px;
            font-weight: bold;
        }
        .price {
            text-align: right;
        }
    }
}
