@import "../../../assets/config.scss";

.signIn {
    background-color: $light-grey-color;
    display: flex;
}

.column {
    flex: 50%;
    height: calc(100vh - (64px + 78px));
    position: relative;
}

.signInImage {
    background-image: url("../../../assets/images/pexels-photo-2775269.png");
    background-size: cover;
    background-position: center;
    position: relative;
}

.signInImage::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #252525, $alpha: 0.25);
}

.mobileSignIn {
    background-image: url("../../../assets/images/pexels-photo-2775269.png");
    display: flex;
    height: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}
