@import "../../asset/config.scss";

footer {
    padding: 30px;
    background-color: $secondary-color;
    color: $white-color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    small {
        margin: auto;
    }
}
