header {
    padding: 25px;
    background-color: #252525;
    color: #FFF;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

     li {
        padding: 4px 16px;
        margin: 0 4px;
        list-style-type: none;
    }

    .nav-right {
        display: flex;
        justify-content: flex-end;

        .loginbtn {
            background: #00b2ff;
            border-radius: 25px;
        }
    }
}
