@import "../../asset/config.scss";

header {
    padding: 15px;
    background-color: $secondary-color;
    color: $white-color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .title {
        margin-left: 30px;
        font-weight: normal;
    }

    .hamburgerMenu {
        cursor: pointer;
        outline: none;
        margin-right: 30px;

        .hamburgerMenuCloseButton:hover {
            color: $grey-color;
        }

        .hamburgerMenuOpenButton:hover {
            color: $grey-color;
        }
    }
}
