@import "../../assets/config.scss";

.row {
    padding: 8px;
}
.label {
    font-size: 16px;
    line-height: 16px;
}
.barberLabel {
    font-size: 20px;
    line-height: 20px;
}
.h1 {
    padding: 8px 24px;
    font-size: $header-size-1;
    margin: 0;
}
.panel {
    padding: 1px 4px 4px 6px;
    border-radius: 8px;
    color: white;
}
