@import "../../../asset/config.scss";

.navbar {
    li {
        padding: 8px 16px;
        margin: 0 4px;
        list-style-type: none;

        a button {
            text-decoration: none;
            color: $white-color;
            font-weight: 600;
        }
    }
}

.navbarMobile {
    @extend .navbar;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

    > li {
        padding: 0;
    }
}

.navbarDesktop {
    @extend .navbar;
    display: flex;
    justify-content: flex-end;
    margin: 0;
}
