@import "src/asset/styles/colors";

.amountBarbers {
    padding: 32px 0;
    text-align: center;
    font-size: 2rem;

    span {
        border-bottom: solid 3px $black-color;
    }
}
.mainSection {
    text-align: left;
    background-color: $light-grey-color;
    padding: 16px;
    height: auto;

    .hamburgerMenu {
        cursor: pointer;
        outline: none;
        margin: 0;
        border-color: black;
        color: black;
    }

    //.filterContainer {
    //    width: 200px;
    //    display: flex;
    //    flex-direction: column;
    //    margin-left: 16px;
    //
    //    > span {
    //        font-weight: bold;
    //    }
    //
    //    .checkboxGroup {
    //        display: flex;
    //        flex-direction: column;
    //    }
    //}

    //.contentContainer {
    //    margin-left: 16px;
    //    max-width: 1000px;
    //    width: 1000px;
    //    display: flex;
    //    flex-direction: column;
    //
    //    .sortContainer {
    //        font-weight: bold;
    //        margin-bottom: 32px;
    //
    //        span {
    //            margin-right: 8px;
    //        }
    //    }
    //}
}
