@import "../../assets/config.scss";

.layoutToggleContainer {
    padding: 8px;
    background-color: white;
    border-radius: 3px;
    margin-bottom: 8px;

    span {
        margin-right: 8px;
    }
}
