@import "../../../assets/config.scss";

.signupForm {
    width: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #252525;
    padding: 30px;
    text-align: center;

    h2 {
        color: #fff;
        text-align: center;
        text-decoration: underline #21a4c9;
    }
}

:global(.ant-form-item:not(:last-child) .ant-form-item-control-input) {
    border-bottom: 2px solid #21a4c9;
}

.positionForm {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
}

.nextButton {
    width: 20%;
    float: right;
    margin: -9px 0 12px 0;
    background: $primary-color;
}

.prevButton {
    width: 20%;
    float: left;
    margin: -9px 0 12px 0;
    background: $primary-color;
}