@import "../../../asset/config.scss";

.formTitle {
    color: white;
    text-decoration: underline;
    text-underline-position: under;
}

.emailFormItem {
    > div {
        margin: 16px 0;
    }
}

button.resetPasswordButton {
    @extend .button-primary;
}

button.resetPasswordButtonGhost {
    @extend .button-primary-ghost;
}
