@import "../../../../assets/config.scss";

.portfolio {
    .addBtn {
        margin-bottom: 20px;
        margin-right: 10px;
    }

    .saveBtn {
        background-color: $green-color !important;
        border-color: $green-color;
    }

    .styleRow {
        margin-bottom: 20px;

        > .header {
            font-size: $header-size-2;
            font-weight: bold;
            color: $primary-color;
        }
    }
}
