@import "~antd/dist/antd.css";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "./assets/config.scss";

body {
    margin: 0;
    font-family: Circular, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
        "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.header {
    background-color: $secondary-color;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 999;
    width: 100%;
    top: 0;
}

.layoutContainer {
    min-height: 100vh;
}

.footer {
    background-color: $secondary-color;
    padding: 14px;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ant-layout {
    background-color: transparent;
}

.underlined-text {
    line-height: 1;
    display: inline-block;
    margin-inline: auto;
    border-bottom: solid 3px $primary-color;
}

.slick-prev::before,
.slick-next::before {
    color: #1890ff;
}

// Ant Design Rates
.ant-rate-star-first,
.ant-rate-star-second {
    color: #787879;
}

// Ant Design Tab pane Tabs
.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab,
.ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab {
    border: 1px solid #40a9ff;
}

.ant-tabs-top > .ant-tabs-nav::before,
.ant-tabs-bottom > .ant-tabs-nav::before,
.ant-tabs-top > div > .ant-tabs-nav::before,
.ant-tabs-bottom > div > .ant-tabs-nav::before {
    border-bottom: 1px solid #40a9ff;
}

.ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab:not(:last-of-type) {
    margin-right: 8px;
}
