@import "../../../assets/config.scss";

.switch {
    margin-bottom: 20px;
    display: block;
}

.filterButton {
    display: block;
    width: 100%;
}

.filterForm {
    margin-top: 16px !important;
}

.selectHairstyle {
    width: 100% !important;
}
