.sidebar {
    background-color: #252525;
    min-height: 100vh;
    width: 20%;
    position: relative;
    box-shadow: -8px 21px 45px -4px black;
    
    > ul {
        position: sticky;
        padding: 0;
        top: 0;
        
        > li {
            color: white;
            list-style-type: none;
            font-size: 20px; 
            text-align: left;
            transition: all .2s ease;

            > a {
                display: block;
                padding: 10px 20px;
                color: inherit;
                text-decoration: none;
                transition: all .2s ease;
                position: relative;


                > span {
                    &::before {
                        content: "|";
                        margin: 0 5px;
                    }
                }

                &:hover {
                    background-color: #1687A7;
                }
            }

            .active {
                background-color: #1687A7;

                &::after {
                    filter: invert(64%) sepia(94%) saturate(6749%) hue-rotate(172deg) brightness(95%) contrast(83%);
                    position: absolute;
                    content: "";
                    background: url(../../asset/arrow.svg) no-repeat;
                    width: 50px;
                    right: 0;
                    top: 0;
                    height: 100%;
                    transform: translateX(85%);
                }
            }
        }
    }
}

.sidebarMobile {
    width: 100%;
    min-height: auto;
    position: relative;
    box-shadow: 10px 6px 45px -4px black;

    ul {
        display: flex;
        flex-direction: row;
        margin: 0;
        > li {
            .active {
                 &::after {
                    left: 0;
                    bottom: 0;
                    width: 35px;
                    transform: translate(0%, 75%) rotate(90deg);
                }
            }
        }
    }   
}