@import "../../../assets/config.scss";

.inputPrice {
    width: 100%;
}

.inputTime {
    width: 100%;
}

.switch {
    margin-bottom: 20px;
    display: block;
}

.confirmButton {
    margin-right: 10px;
}

.deleteBtn {
    padding-top: 20px;
    display: block;
    margin-bottom: 20px;
}