@import "../../assets/config.scss";

.content {
    display: flex;
    align-items: center;
}

.container {
    text-align: center;
    width: 100%;

    .returnButton {
        @extend .button-primary-ghost;
    }
}
